
.years {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.form-control {
    display: block;
    margin: 10 10;
    border: 2px solid rgb(206, 202, 202);
    min-width: fit-content;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fact__contents {
    border: 2px solid rgb(206, 202, 202);
    margin-bottom: 1rem;
    padding-bottom: 5px;
    padding-left: 8px;
}
